//COLOR VARIABLES
$color-heading: #F3F9FB;
$color-main: #0177e1;
$color-green: #50E3c2;

$color-secondary: #226597;
$color-footer: #113F67;

//CROSS BROWSER RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

//FONT + FONT SIZE DEFINITION
@font-face {
  font-family: "Mosk-Bold";
  src: url('../img/fonts/Mosk-Bold-700.woff') format('woff');
}

@font-face {
  font-family: "Mosk";
  src: url('../img/fonts/Mosk-Normal-400.woff') format('woff');
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

$font-primary-bold: 'Mosk-Bold';
$font-primary-normal: 'Mosk';
$font-secondary: 'News Cycle', sans-serif;



////////////////////////
//MAIN SCSS
////////////////////////

//canvas of the 'wave effect'
#canvas {
  width: 100%;
  display: block;
  height: 300px;
}

//header styles
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-heading;

  //main heading text
  &__heading {
    font-size: 7rem;
    padding: 12rem 4rem;
    font-family: $font-primary-bold;
    background-image: linear-gradient(to right, $color-main, $color-green);
    -webkit-background-clip: text;  //background gets clipped behind text
    color: transparent;             //making the text transparent so we see the background image
    text-align: center;

    &-span {
      letter-spacing: .7rem;
    }
  }
}

//main section styles
.main {
  
}

//background sound section
.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/images/meditation.jpg);
  background-size: cover;
  background-position: 50% 50%;

  &__heading {
    font-family: $font-primary-normal;
    text-transform: uppercase;
    font-size: 3rem;
    padding: 3rem 4rem;
    color: $color-heading;
    font-weight: 400;
    margin-bottom: 6rem;
  }

  &__container {
    display: flex;
    margin-top: 2.5rem;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  &__group {
    display: flex;
    width: 80rem;
    padding-left: 5rem;
    padding-right: 5rem;
    justify-content: space-around;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-items: center;
    max-width: 18rem;
    padding: 1rem;
    margin-bottom: 6rem;
    transition: all .2s;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
    
    &-pushed {
      padding-top: 12rem;
    }
  }

  &__image {
    display: block;
    border-radius: 50%;
    width: 18rem;
    height: 18rem;
    background-size: cover;
    border: 1px solid rgba($color-green, .6);
    box-shadow: 0rem 0rem 2.2rem rgba(0,0,0, 0.5);
  }

  &__text {
    padding: 1rem 0;
    text-align: center;
    font-size: 1.8rem;
    color: $color-green;
    text-transform: uppercase;
    font-family: $font-secondary;
  }
}

//timer section

.timer {
  background-color: $color-green;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    font-family: $font-primary-normal;
    color: $color-heading;
    font-size: 3rem;
    padding: 4rem 4rem;
    margin-top: 3rem;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__container {
    display: flex;
    width: 70rem;
    justify-content: space-around;
    padding: 2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__btn {
    border: none;
    padding: 2rem 5rem;
    color: $color-heading;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 400;
    margin-top: 2rem;
    background-image: linear-gradient(to bottom, rgb(3,174,225), rgb(1, 120, 225));
    border-radius: 5rem;

    &:hover {
      cursor: pointer;
    }

    &-last {
      margin-bottom: 5rem;
    }
  }
  
  &__input {
    padding: 1.5rem;
    border: none;
    font-size: 2.5rem;
    border-radius: 5rem;
    
    &:focus {
      outline: none;
    }
  }
}

//last small section (heading) styles
.remaining {
  display: flex;
  background-image: linear-gradient(to bottom, $color-green, $color-main);
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__time {
    padding: 5rem 3rem;
    font-size: 7rem;
    color: $color-heading;
  }
}


.heading-last {
  display: flex;
  padding: 5rem;
  justify-content: center;
}

.heading-3 {
  font-family: $font-primary-bold;
  color: $color-green;
  font-size: 7rem;
  text-align: center;
}






//footer styles
.footer {
  background-color: $color-footer;

  &__container {
    display: flex;
    padding: 7rem 4rem;
  }

  &__left {

  }

  &__right {

  }

  &__img {
    width: 10rem;
  }
}